.selected_state {
  background: #e2e7d9;
  border: 2px solid #749e33;
  border-radius: 4px;
  font-size: 16px;
  color: #211f1d;
  letter-spacing: 0.35px;
  text-align: center;
  line-height: 22px;
}
.select_option {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 4px 0 rgba(9, 12, 32, 0.1);
  border-radius: 4px;
  font-size: 16px;
  color: #211f1d;
  letter-spacing: 0.35px;
  text-align: center;
  line-height: 22px;
}
